body
{
	margin: 0;
	background-color: red;
}

﻿nav
{
	float: left;
	text-align: center;
	background-color: red;
	height: 1000px;
	width: 200px;
}

.topdiv
{
	background-color: blue;
	float: top;
	margin-top: 0;
}

.skinlist
{
	float: left;
	font-size: 30px;
	margin-left: 5px;
	text-align: left;
	margin-top: 50px;
}

.botdiv
{
	margin-top: 900px;
	margin-right: 0px;
	float: right;
	height: 200px;
	width: 1687px;
	background-color: green;
}
